<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Angular 1.x with React</title>
  </head>

  <body>
    <!--<script src="/node_modules/angular/angular.js"></script>-->
    
    <div ng-app="app">
        <h2>Todo</h2>
        <div ng-controller="TodoCtrl">
            <span>{{remaining()}} of {{todos.length}} remaining</span>
            [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
            </ul>
            <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText"  size="30"
                    placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
            </form>
            <div >  <!--ng-if={{todos}}-->
              <react-directive  todos=todos></react-directive>
            </div>
            
            
        </div>
    </div>

    
    
    <script src="dist/react.min.js"></script>    
    <script src="dist/angular.min.js"></script>    
  </body>
</html>
